Flask
Flask-SQLAlchemy
Flask-Cors
Flask-Migrate
Flask-SocketIO
python-socketio
python-engineio
simple-websocket
python-dotenv
werkzeug
pyjwt
flask-migrate
pdfminer.six
pytesseract
Pillow
firebase-admin
google-genai
faiss-cpu
sentence-transformers
